<h1>Welcome to ARMS!</h1>
<h2>This is one of the sample applications for <a href="http://www.baserails.com">BaseRails</a>, a platform that teaches people to 
build awesome custom mwebsites with the Ruby on Rails programming language.</h2>

